name: Continuos Integration (CI)

on:
  pull_request:
    branches:
      - develop
      - main
    paths-ignore:
      - "**/*.md"
  push:
    tags:
      - v*

jobs:
  build:
    name: Analyzer & Test Reporter
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write
      statuses: write
      checks: write
      actions: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup Java"
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"

      - name: "Flutter Action"
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.19.x
          channel: "stable"

      - name: Install Melos
        run: dart pub global activate melos

      - name: "Bootstrap"
        run: melos bs

      - name: "Run Format"
        run: melos run format

      - name: "Run Tests"
        run: flutter test --test-randomize-ordering-seed=random --coverage --machine > test-results.json

      - name: Check for existing and non-empty coverage file
        id: test_coverage_file
        run: if [ -s "coverage/lcov.info" ]; then echo "result=true" >> $GITHUB_OUTPUT ; else echo "result=false" >> $GITHUB_OUTPUT; fi

      - name: Verify Coverage
        if: steps.test_coverage_file.outputs.result == 'true'
        uses: VeryGoodOpenSource/very_good_coverage@v2
        with:
          path: "coverage/lcov.info"
          min_coverage: 90
          exclude: "**/*_observer.dart **/change.dart"

      - name: "Test Reporter"
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Tests Results
          path: test-results.json
          reporter: flutter-json
